* {
  box-sizing: border-box;
}
*:before,
*:after {
  content: "";
}
html {
  height: 100%;
}
body {
  position: relative;
  height: 100%;
  margin: 0;
}

.js .input-file {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 20px;
  cursor: pointer;
}

.file-return:not(:empty) {
  margin: 1em 0;
}

.js .file-return:not(:empty):before {
  content: "Fayl seçildi: ";
  font-size: 15px;
  margin-left: 5px;
}

/* kvbzd */
.sidebar-navigation li {
  background-color: transparent;
  display: inline-block;
  line-height: 20px;
}

.sidebar-navigation li a {
  padding: 10px 15px 10px 30px;
}

.sidebar-navigation li a:active,
.sidebar-navigation li a:hover,
.sidebar-navigation li a:focus {
  text-decoration: none;
  outline: none;
}

.sidebar-navigation li::before {
  background-color: #00bea56b;
  position: absolute;
  content: "";
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  width: 2px;
  z-index: -1;
}

.sidebar-navigation li:hover::before {
  width: 100%;
}

/* //sidebar */
.inputs {
  width: 40px;
  line-height: 35px;
}

.add-btn {
  cursor: pointer;
  box-shadow: -1px 3px 3px 0 rgba(80, 80, 80, 0.2);
  padding: 10px 12px 10px 12px;
  border: none;
  border-radius: 30px;
  color: #fff;
  flex: 0 0 auto;
}

.add-btn-1 {
  background: #673788;
  transition: all 0.25s ease-out;
}

.add-btn:hover {
  position: relative;
  top: -3px;
  box-shadow: -6px 14px 12px 2px rgba(90, 90, 90, 0.12);
}
.tap-hover:hover {
  color: white;
  background-color: rgb(98, 194, 194) !important;
}
.sil-hover:hover {
  color: white;
  background-color: rgb(241, 119, 98) !important;
}

.banner-bg {
  background: url("../img/photo-1582807129843-8a00296ccb37.jpeg") center
    no-repeat;
  background-size: cover;
  min-height: 171px;
}
.overlay {
  background-color: #40376bb0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #580469;
  background-color: transparent;
  border: 0px;
}
.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #00bea5;
}
/* /////// */
.table-search {
  float: right;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
a,
a > span {
  position: relative;
  color: #212529;
}
a:before,
a:after,
a > span:before,
a > span:after {
  content: "";
  position: absolute;
  transition: transform 0.5s ease;
}

.custom-icon {
  background: url(/img/icons.png) no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
}

.custom-icon-flag-az {
  background-position-x: -14px;
  background-position-y: -14px;
  height: 15px;
}

.custom-icon-flag-en {
  background-position-x: -153px;
  background-position-y: -18px;
  height: 14px;
}

.custom-icon-star {
  background-position-x: -14px;
  background-position-y: -67px;
  width: 20px;
  margin-left: 7px;
}
.custom-icon-smile {
  background-position-x: -223px;
  background-position-y: -69px;
  width: 20px;
  height: 20px;
}

.dropdown-menu-header {
  position: absolute;
  transform: translate3d(-110px, 14px, 0px) !important;
  top: 10px !important;
  right: 0px !important;
  left: 0px !important;
  will-change: transform;
}
.dropdown-toggle1::after {
  margin-left: 1.5rem;
}
.dropdown-toggle::after {
  margin-left: 1.5rem;
  margin-top: 5px;
}
.top-190 {
  top: -195px;
}
/* //////// */

.multi_select_box button {
  width: 100%;
  background-color: white;
}

.d-none-hover {
  display: block;
}
a:hover {
  color: rgb(56, 42, 42);
}

.submit-btn {
  border: 1px solid #22bea5;
}
.submit-btn:hover {
  border: 0;
  background-color: #5b2a6d;
  color: wheat;
  transition: 0.5s;
}
.text-purple {
  color: #5c2483;
}
.text-orange {
  color: rgb(182, 118, 0);
}
.bg-purple {
  background-color: #5b2a6d;
}
.bg-search-purple {
  background: #67358a;
}
.bg-black {
  background-color: #242424;
}
.bg-grey {
  background-color: #efefef;
}
.bg-grey-dark {
  background-color: #dcd8d87b;
}
.bg-grad-purple {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: linear-gradient(to bottom right, #b278ce, #553172);
}

.fs-lg-40 {
  font-size: 40px;
}
.fs-lg-30 {
  font-size: 30px;
}
.fs-lg-20 {
  font-size: 20px;
}
.fs-lg-25 {
  font-size: 25px;
}
.fs-lg-11 {
  font-size: 11px;
}
.fs-lg-18 {
  font-size: 18px;
}
.fs-lg-14 {
  font-size: 14px;
}
.fs-lg-50 {
  font-size: 50px;
}

.z-low {
  z-index: 999999994;
}
.z-middle {
  z-index: 99999999;
}
.z-high {
  z-index: 999999999999;
}
.left-100 {
  left: -100%;
}
.left-0 {
  left: 0;
}
.t-5 {
  transition: 0.5s;
}
.z-100 {
  z-index: 100;
}
.h-120vh {
  height: 120vh;
}
.h-150vh {
  height: 150vh;
}
.h-100vh {
  height: 100vh;
}
.h-60vh {
  height: 60vh;
}
.top-0 {
  top: 0;
}
.pt-100 {
  padding-top: 30px;
}

.card-animate {
  border: 1px solid rgb(142, 97, 175);
  /* background-image: linear-gradient(to right, #27142c, #3b0741);  */
  transition: all 0.2s ease;
  cursor: pointer;
  background: transparent;
}

.card-animate:hover {
  transition: 1s;
  box-shadow: 3px 4px 6px 2px #d3d3d3;
  transform: scale(1.1);
}
.list-nav li a {
  display: block;
  text-decoration: none;
}

.list-nav li a:hover {
  text-decoration: none;
  background-image: linear-gradient(to right, #e9c3f5, #b995bd);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  transition: 1s all;
  margin-right: 30px;
  /* padding-right: 30px !important; */
}

.list-nav li a:active,
.list-nav li a:focus {
  text-decoration: none;
}
#footer {
  margin-top: 150px !important;
  padding-bottom: 1.5rem;
}

.footer_subcribs_area .form-control {
  font-size: 14px;
  border: 1px solid #e2daf3;
  color: #ffffff;
  border-radius: 0px;
  width: 70%;
  display: inline-block;
  height: 45px;
  background-color: transparent;
  line-height: 20px;
}

.footer_subcribs_area .submit_btn {
  background: #cdc8db;
  border: 0px solid #ccc;
  color: rgb(0, 0, 0);
  padding: 5px 10px;
  border-radius: 0px;
  height: 45px;
  outline: none;
  width: 25%;
  transition: all 0.6s;
  margin-left: 5px;
}

.footer_subcribs_area .submit_btn:hover {
  background: #fff;
  color: #47366d;
}
.footer-bor-bot {
  border-bottom: 1px solid rgba(216, 216, 216, 0.4);
}

/* footer icons */

.fa-facebook-f {
  padding: 10px 14px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #322f30;
}
.fa-facebook-f:hover {
  background-color: #3d5b99;
}
.fa-twitter {
  padding: 10px 12px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #322f30;
}
.fa-twitter:hover {
  background-color: #00aced;
}
.fa-instagram {
  padding: 10px 14px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #322f30;
}
.fa-instagram:hover {
  background-color: #ce3a84;
}

.fa-linkedin-in {
  padding: 10px 14px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #322f30;
}
.fa-linkedin-in:hover {
  background-color: #0073a4;
}

/* .icon {
  background-image: url('../img/icons.png');
  width: 50px;
  height: 50px;
  display: inline-block;
  background-repeat: no-repeat;
} */

/* .icon-campaign {
  background-position-x: 0;
  background-position-y: 0;
}

.icon-campaign-white {
  background-position-x: -258px;
  background-position-y: -6px;
} */

/* Medium devices (landscape tablets, 768px and up) */

.button-jittery a button {
  text-decoration: none;
  padding: 5px 20px;
  background-color: #17a2b8!important;
  color: #ffffff;
  font-weight: bold;
  border-radius: 30px;
  border: 0;
  outline: none;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
  0 2px 4px rgba(0,0,0,0.07), 
  0 4px 8px rgba(0,0,0,0.07), 
  0 8px 16px rgba(0,0,0,0.07),
  0 16px 32px rgba(0,0,0,0.07), 
  0 32px 64px rgba(0,0,0,0.07);
  background-color: transparent;
  cursor: pointer;
  position: relative;
  transition: 0.2s ease-in-out;
}

.button-jittery a button:hover {
  animation: heartbeat 0.2s infinite;
}
/* effectborder */
.effect-border {
  color: #17a2b8;
  text-decoration: none;
  margin-top: 2px;
  padding: 7px 8px;
  background: transparent;
  border: 1px solid #17a2b8;
  border-radius: 30px;
  position: relative;
}

table td {
  vertical-align: 0 !important;
}
.item-ads {
  margin-top: 5px;
}

/* effectborder */
@keyframes jittery {
  5%,
  50% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  15% {
    transform: scale(1.15);
  }
  20% {
    transform: scale(1.15) rotate(-5deg);
  }
  25% {
    transform: scale(1.15) rotate(5deg);
  }
  30% {
    transform: scale(1.15) rotate(-3deg);
  }
  35% {
    transform: scale(1.15) rotate(2deg);
  }
  40% {
    transform: scale(1.15) rotate(0);
  }
}
@keyframes heartbeat {
  50% {
    transform: scale(1.1);
  }
}

@media only screen and (max-width: 768px) {
  .fs-md-14 {
    font-size: 14px;
  }
  .py-md-3 {
    padding-top: 15px;
  }
  .my-md-4 {
    margin-top: 20px;
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
  }
  .inputs {
    width: 30px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .desktop-view {
    display: none;
  }
  .mobile-view {
    display: block;
  }
}
@media only screen and (max-width: 480px) {
  .fs-sm-12 {
    font-size: 12px;
  }
  .my-sm-3 {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 992px) {
  .mobile-view {
    display: none;
  }
}
@media only screen and (max-width: 1200px) {
}
